# fly.toml app configuration file generated for forensight-bot on 2025-12-14T05:15:02+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'forensight-bot'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
 # memory = '32gb'
  cpus = 1
  memory_mb = 512
